@model DesignWebsiteContent.Models.InputOutput

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mb-2">

    <div class="slides mb-3">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <h2>Content Carousel</h2>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <h4>Design Project</h4>
            </div>
            <div class="col-md-6 col-12">
                <div class="slideBox">
                    <div class="form-group">
                        <label>Image File Path</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">img/</div>
                            </div>
                            <input type="text" name="FilePath" value="" class="form-control filePath" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-12">
                <div class="slide slideBox">
                    <div class="form-group">
                        <label>Thumbnail</label>
                        <div class="thumbnail row">
                            <div class="col-md-6 col-12">
                                <input type="file" class="form-control-file">
                            </div>
                            <div class="input-group mb-2 col-md-6 col-12">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">/</div>
                                </div>
                                <input type="text" name="Thumbnail" value="" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="slide slideBox">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" name="Title" value="" class="form-control titleValue" />
                        <label>Caption</label>
                        <textarea class="form-control caption" rows="3"></textarea>
                    </div>
                </div>
            </div>

            @for(int i = 0; i < 2; i++) {
                <div class="col-md-6 col-12">
                    <div class="slide slideBox">
                        <div class="form-group">

                            <div class="row slideInput image">
                                <div class="col-12">
                                    <label>Image</label>
                                </div>
                                <div class="col-md-5 col-12">
                                    <input type="file" class="form-control-file">
                                </div>
                                <div class="input-group mb-2 col-md-5 col-12">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">/</div>
                                    </div>
                                    <input type="text" name="image" value="" class="form-control image" disabled />
                                </div>
                                <div class="col-md-2 col-12 text-right">
                                    <button class="btn btn-danger btn-sm deleteInput"><i class="fas fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="row slideInput textBox">
                                <div class="col-12">
                                    <label for="TextBox">TextBox</label>
                                </div>
                                <div class="textBox col-md-10 col-12">
                                    <textarea class="form-control textBox" rows="3"></textarea>
                                </div>
                                <div class="col-md-2 col-12 text-right">
                                    <button class="btn btn-danger btn-sm deleteInput"><i class="fas fa-trash"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-auto mr-auto">
                                <button class="btn btn-dark addImage">+ Image</button>
                                <button class="btn btn-dark addTextBox">+ TextBox</button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-danger btn-sm deleteSlide">Delete Slide</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

    <div class="row mb-3">
        <div class="col-12 text-right">
            <button class="btn btn-dark" id="addSlidePair">+ 2 Slides</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <button type="button" class="btn btn-success" id="generate">Generate HTML</button>
            </div>
        </div>
    </div>
    <hr>
</div>

<div class="container">
    <div class="row justify-content-middle">
        <div class="col-12">
            <div class="form-group">
                <h4>Output</h4>
                <textarea class="form-control" id="output" rows="10" style="font-family:Calibri;"></textarea>
            </div>
        </div>
        <div class="col-auto mr-auto">
            <div class="form-group">
                <button type="button" class="btn btn-success" id="refresh">Refresh Preview</button>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-group">

                <button type="button" class="btn btn-dark" id="copy">Copy</button>

            </div>
        </div>
        <div class="col-12" style="min-height: 3rem;text-align:right;">
            <p class="copied"></p>
        </div>
    </div>

</div>


<div class="container">
    <div class="row">
        <div class="col-12 mb-4">
            <h4>Preview</h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="preview">
            </div>
        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
